body{
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    padding: auto;
    margin: auto;
   
}
h1{
    text-align: center;
    margin: 30px  50px;
    color: blueviolet;
    margin-left: -1px;
    
}
#subimagen img{
    width: 110px;
    padding: auto;
    filter: grayscale(100%);
    transition: 0.2s;
    border: 2px solid cornflowerblue;
    
}
#subimagen img:hover{
    filter: grayscale(0%);
    transform: scale(1.100);
}

#grande img{
    width: 482px;
    padding: auto;
    border: 2px solid cornflowerblue;
}

/* Clase para resaltar la imagen activa manejada con JavaScript */
.active {
    filter: grayscale(0%);
    transform: scale(1.110);
}
